<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>   
    
    <div class="jumbotron text-center">
            <h1 class="display-3"> Welcome to the entry Management App </h1>
            <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
            <hr>
            <p class="lead">
              <a class="btn btn-primary btn-sm" href="/myapp" role="button">Continue to Main App</a>
            </p>
    </div>
    <p>
        This is a entry Management tool created by <a href="">Ashutosh Tiwari</a> <br>
        <hr>
        <P> <i> It manages entry of Hosts and visitors from the front end.
                The app sends notification to the Hosts when a Visitor signs in on his/her name
                The app also sends notification when the visitor signs out    
        </i> </P>
    </p>
</body>
</html>