{% extends 'base.html'%}
{% block title %}
    Entry management
{% endblock %}

{% block content%}
<div class="jumbotron text-center">
    <h1>Entry management</h1>
    {% if not flag %}
    <h3>Currently, No Visiters</h3>
    {% endif %}
</div>  
<div class="text-left">
    <form method="POST" class="post-form">
            {% csrf_token %}
    <table>
        <ul>
            {% for visiter in visiters %}
            <div class="form-check">
                <input name="checks" class="form-check-input" type="checkbox" value='{{ visiter.id }}' id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                        <li>
                            {{ visiter.name }} visiting {{ visiter.visiting_host.name}},
                                checkin time {{ visiter.checkin_time }}
                        </li>
                </label>
            </div>
            {% endfor %}
        </ul>
    </table>
    {% if flag %}
    <button class="btn btn-danger"> checkout</button>
    {% endif %}
</form>
{% if msg %}
    {{ msg }}
{% endif %}
</div>
{% endblock %}